    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.year_published %></td>
      <td><%= book.publishing_house %></td>
      <td><%= book.language %></td>
      <td><%= link_to "Edit", edit_book_path(book) %></td>
    </tr>


