  <div class="field subform">
    <%= f.text_field :title %>
  </div>
  <div class="field subform">
    <%= f.text_field :author %>
  </div>
  <div class="field subform">
    <%= f.number_field :year_published %>
  </div>
  <div class="field subform">
    <%= f.text_field :publishing_house %>
  </div>
  <div class="field subform">
    <%= f.text_field :language %>
  </div>
  <div class="actions subform"><%= f.link_to_remove "Remove" %></div>
<% end %>
