  <div class="field titles">
    <%= f.label :title %>
  </div>
  <div class="field titles">
    <%= f.label :author %>
  </div>
  <div class="field titles">
    <%= f.label :year_published %>
  </div>
  <div class="field titles">
    <%= f.label :publishing_house %>
  </div>
  <div class="field titles">
    <%= f.label :language %>
  </div>

