<% title "Book" %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>
<p>
  <strong>Year Published:</strong>
  <%= @book.year_published %>
</p>
<p>
  <strong>Publishing House:</strong>
  <%= @book.publishing_house %>
</p>
<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>



<p>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Destroy", @book, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", books_path %>
</p>
